body{
    font-family: 'Alegreya Sans SC', Sans-Serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
   
  }

header{
    display: flex;
    flex-direction: column;
}