body{
    font-family: 'Alegreya Sans SC', Sans-Serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
   
  }

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a:link, a:visited {
    color: blue;
}


.nav_links{
    display: flex;

}

#pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}

.pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    

}

.card{
    flex-basis: 450px; 
}



.card header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;


}

.gallery{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

}

#logo{
    animation-name: slidein;
    animation-duration: 5s;
    animation-iteration-count: 1;

}

  
@keyframes slidein {
from {
    
    width: 50px;
    opacity: 0;
}

to {
   
    width: 425px;
    opacity: 1;
}
}