body{
    background: #000000;
    color: #ffffff;
    font-family: "Times New Roman",sans-serif;
}

h1{
    font-size: 64px;
    text-align: center;
    padding: 10px;
}

h2{
    font-size: 32px;
    text-shadow: 2px 2px #ff0000;
    text-align: center;
    padding: 10px;
}



#red{
    background:#FF0000;
}